<ng-container>

    <!-- Filter -->
    <ng-container *ngIf="isFilterable" [matColumnDef]="this.rowActionIcon">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput [formControl]="searchControl">
        </mat-form-field>
    </ng-container>

    <!-- Table -->
    <table mat-table [dataSource]="gridData">

        <!-- action column -->
        <ng-container *ngIf="rowActionIcon?.length" [matColumnDef]="rowActionIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [id]="rowActionIcon" (click)="emitRowAction(element)">
                <button mat-button>
                    <mat-icon class="material-icons-outlined">{{rowActionIcon}}</mat-icon>
                </button>
            </td>
        </ng-container>
        <ng-container *ngFor="let tableColumn of tableColumns" [matColumnDef]="tableColumn.header">

            <th mat-header-cell *matHeaderCellDef>
                {{tableColumn.header}}
            </th>

            <!-- column data -->
            <td mat-cell *matCellDef="let element">
                {{element[tableColumn.field]}}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator #paginator *ngIf="isPageable" [pageSizeOptions]="paginationSizes" [pageSize]="defaultPageSize"
        [length]="totalCount" [pageIndex]="pageIndex" (page)="onPageChange($event)">
    </mat-paginator>
</ng-container>