<p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <p>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder" formControlName="email">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder" formControlName="password">
        </mat-form-field>
    </p>

    <button mat-button type="submit" [disabled]="!loginForm.valid">Submit</button>

</form>