<mat-accordion class="example-headers-align">
    <ng-container *ngFor="let p of (postList$ | async)?.data">
        <br>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <a mat-button [routerLink]="['../post-detail', p._id]">
                        {{ p.title }}
                    </a>
                </mat-panel-title>
                <mat-panel-description>
                    {{ p.description }}
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            POST DATA
        
            <mat-action-row>
                <a mat-button color="primary" [routerLink]="['../edit-post', p._id]">Edit</a>
                <button mat-button color="warn" (click)="deletePost(p._id)">Delete</button>
            </mat-action-row>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>