<p>register works!</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <p>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Placeholder" formControlName="fname">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Placeholder" formControlName="lname">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Placeholder" formControlName="email">
        </mat-form-field>
    </p>
    <p>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Placeholder" formControlName="password">
        </mat-form-field>
    </p>

    <button mat-button type="submit" [disabled]="!registerForm.valid">Submit</button>

</form>